$tablet:500px;
$mini-desktop:700px;
$desktop:1000px;

.App {
  background-color: #0a1525;
  background-size:cover !important;
  background-repeat: no-repeat;
  color:#fcfcfc;
  font-family: 'Courier New','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 1200px;
  text-align: center;

  .header{
    .dropdown{
      display: flex;
      flex-direction: column;
      text-align: right;
      padding: 20px;
      position: relative;
      .dropdown-menu-button{
        text-align: right;
        color:#ffffff;
        background: none;
        border: none;
        font-size: 40px;
        padding:0px 30px 10px 0px;
        // @media screen and (min-width:500px) {
        //   display: none;
        // }
      }
      .menu a{
        display:none;
        // position: absolute;
        
        // a{
        //   display: block;
          color: #ffffff;
        //   font-size: 30px;
        //   font-weight: 900;
        //   padding: 0px 30px 0px 0px;
        //   text-decoration: none;
        //   // @media screen and (min-width:$tablet){
        //   //   display: inline;
        //   // }
        // }
        // a:hover{
        //   color: #82aad8;
        // }
      }
      .dropdown-menu-button:hover .menu a{
        display: block;
      }

    }


  }

  .home-page{
    .color-box{
      text-align: center;
      width: 1500px;
      height:820px;
      background-color: #f19d7e;
      position: absolute;
      left: 100px;
      bottom:60px;
      margin: auto 0;
      z-index: 0;
    }
    .home-page-title{
      position: relative;
      top:170px;

      z-index: 4;
      font-size: 70px;
      padding: 100px 0px 0px 19px;
    }
    .container{
      display: block;
      // z-index: index 10;
      @media screen and (min-width:$mini-desktop){
        display: flex;
        flex-direction: row-reverse;

      }
      .image-container{
        // display: flex;
        // justify-content: right;
        // width: 300px;
        z-index: 3;
        overflow: hidden;
        @media screen and (min-width:$tablet){
          // width: 500px;
        }

        .dramaMe{
          // position:relative;
          width:500px;
          z-index: 5;
          // top:-70px;
          // left: 200px;
          @media screen and (min-width:$tablet){
            // top:-100px;
            // left:50px;
            width: 800px;
            margin: auto 0;
          }
          @media screen and (min-width:$desktop){
            padding-right:100px;
            width: 750px;
          }
  
        }
        .earth{
          position:relative;
          width:700px;
          top:-70px;
          left: 200px;
          @media screen and (min-width:$tablet){
            // top:-100px;
            // left:50px;
            width: 800px;
            margin: auto 0;
          }
          @media screen and (min-width:$desktop){
            width: 1000px;
          }
  
        }
      }
      .white-box{
        background-color: #fcfcfc;
        width: 750px;
        height:600px;
        z-index: 2;
        position: relative;
        left:400px;
        top:40px
      }
      .home-page-content{
        position: relative;
        top:-50px;
        font-size: 24px;
        font-weight: 900;
        // letter-spacing: 1px;
        width: 280px;
        margin: auto;
        background-color: #424769;
        @media screen and (min-width:$tablet){
          width: 400px;
        }
        @media screen and (min-width:$mini-desktop){
          padding: 60px 0px 0px 50px;
          width: 500px;
        }
        @media screen and (min-width:$desktop){
          padding: 150px 50px 50px 50px;
          width: 500px;
        }
      }
    }

  }
  .travel-page{
    padding: 10px;
    .city-container{
      @media screen and (min-width:$mini-desktop){
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .city-image-container{
        padding: 10px;
        .image-city{
          width: 280px;
          height: 280px;
        }
        .image-city:hover{
          opacity: 0.5;
        }
      }
      }
    }
  }
  .code-page{
    padding: 100px;
  }
  .test-page{
    padding:100px;
  }
  footer{
    color:#c5c2c2;
    position: relative;
    bottom: 20px;
  }
}


