$tablet:500px;
$mini-desktop:700px;
$desktop:1000px;

.App {
  background-color: #0a1525;
  background-size:cover !important;
  background-repeat: no-repeat;
  color:#ffffff;
  font-family: 'Courier New','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 1200px;
  text-align: center;

  .header{
    padding: 20px;
    a{
      color: #ffffff;
      font-size: 30px;
      font-weight: 900;
      padding: 0px 30px 0px 0px;
      text-decoration: none;
    }
    a:hover{
      color: #82aad8;
    }
  }

  .home-page{
    .home-page-title{
      font-size: 40px;
      padding: 100px 0px 0px 0px;
    }
    .container{
      display: block;
      @media screen and (min-width:$mini-desktop){
        display: flex;
        flex-direction: row-reverse;

      }
      .image-container{
        display: flex;
        justify-content: right;
        // width: 300px;
        overflow: hidden;
        @media screen and (min-width:$tablet){
          // width: 500px;
        }
        .earth{
          position:relative;
          width:700px;
          top:-70px;
          left: 200px;
          @media screen and (min-width:$tablet){
            // top:-100px;
            // left:50px;
            width: 800px;
            margin: auto 0;
          }
          @media screen and (min-width:$desktop){
            width: 1000px;
          }
  
        }
      }
      .home-page-content{
        position: relative;
        top:-100px;

        width: 280px;
        margin: auto;
        @media screen and (min-width:$tablet){
          width: 400px;
        }
        @media screen and (min-width:$mini-desktop){
          padding: 60px 0px 0px 50px;
          width: 500px;
        }
        @media screen and (min-width:$desktop){
          padding: 0px 0px 100px 50px;
          width: 500px;
        }
      }
    }

  }
  .travel-page{
    padding: 10px;
    .city-container{
      @media screen and (min-width:$mini-desktop){
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .city-image{
        padding: 10px;
      }
      }
    }
  }
  .code-page{
    padding: 100px;
  }
  .test-page{
    padding:100px;
  }
  footer{
    color:#c5c2c2;
    position: relative;
    bottom: 20px;
  }
}


